body {
    text-align: center
}

#display {
    width: 75%;
    margin: auto;
}

#dragon {
    display: inline-block;
    vertical-align: top;
    width: 285px;
}

#dragon img {
    image-rendering: pixelated;
    width: 100%;
}

#stats {
    float: right;
    border: 1px solid black;
    width: 285px;
}

#stats ul{
    list-style: none;
    text-align: left;
}